@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --green: #709148;
    --darkGreen: #556541;
    --bgGreenDark: #435231;
    --blue: #008dd0;
    --blueLight: #0079fe;
    --blueTopHeader: #006ea1;
    --darkBlue: #031944;
    --bgMain: #dedede;
    --bgFooter: #d8d0c5;
    --bgLight: #e7e1da;
    --Text: #616060;
    --bgSearch: #d7d3c6;
}
body{
    background: var(--bgMain);
    color: var(--Text);
    font-family: 'Rubik', sans-serif;
}
/* UTILS */
.btn--coopama{
    font-size: .95rem;
    font-weight: 500;
    padding: .6rem 1.5rem;
    text-transform: uppercase;
    border-radius: 30px;

}
.btn--green{
    background: linear-gradient(var(--green), #6d9930);
    color: white;
}
.btn--blue{
    background: linear-gradient(var(--blue), #006da0);
    color: white;
}
/* TOP CONTENT  */
.top__content{
   background: url(../img/bg/bg-top.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}
.top__header{
    font-size: .85rem;
}

.top__header--menu, .top__header--coop{
    width: 40%;
}
.top__header--item{
    line-height: 1.25;
}
.top__header--item--link{
    color: var(--blueTopHeader);
}
.top__header--item--beneficios{
    color:var(--green);
}
.top__header--button button{
    font-size: .75rem;
}
.top__header--button{
    width: 20%;
}
.top__header--button img{
    max-width: 16px;
}
.top__header--item span{
    font-weight: 600;
}
.top__header--item img{
    max-width: 24px;
}
/* HEADER  */
.header__nav{
    padding: .5rem 0;
}
.coopama__logo{
    max-width: 220px;
    height: auto;
}
.nav--menu{
    font-size: .8rem;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.nav--menu--link{
    padding: 0;
}
.nav--menu--link::before{
    content: '';
    background: url(../img/icons/navItem.png) no-repeat;
    width: 3px;
    height: 13px;
    display: inline-block;
    margin-right: 1rem;
    position: relative;
    top: 2px;
}

/* SEARCH  */
.search{
    background: var(--bgSearch);
    border-radius: 30px;
    border: 1px solid white;
}
.search input, .search input:focus{
    font-size: .8rem;
    border: transparent;
    background: transparent;
}
.btn--search{
    padding: .375rem .75rem;
}

/* SLIDE */
.slide--item{
    border-radius: 30px;
}
.slide--item img{
    border-radius: 30px;
    border: solid 10px white
}
.slide--control{
    justify-content: start;
}
.slide--control--rigth{
    justify-content: end;
}
.slide--left{
    padding: 1rem;
    background: white;
    border-radius: 0 50% 50% 0;
}
.slide--right{
    padding: 1rem;
    background: white;
    border-radius: 50% 0 0 50%;
}
/* Big bottoms  */
.big__bottom{
    padding: 0 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
}
.big__bottom--items{
    background: linear-gradient(var(--darkGreen), var(--green));
    border-radius: 10px 10px 0 0;
    color: white;
    min-height: 182px;
    position: relative;
}
.big__bottom--items::after{
    content: "";
    position: absolute;
    bottom:-73%; 
    left: 0;
    background:linear-gradient(220deg, var(--green) 50%, var(--darkGreen) 100%);
    padding-bottom:50%; 
    width:57.7%;
    z-index:-1;
    transform-origin:0 0;
    transform: rotate(-30deg) skewX(30deg);
}
.big__bottom--title{
    font-size: 2.5rem;
    font-weight: 600;
    line-height: .7;
    text-shadow: 0 2px 3px #0100014f;
    
}
.big__bottom--subtitle{
    font-size: .85rem;
    text-shadow: 0 2px 3px #0100014f;
    text-transform: uppercase;
}
/* CAFE. SECTION */
.cafe{
}
.cafe--title{
    background: var(--darkGreen);
    border-bottom: 5px solid var(--bgGreenDark);
    border-radius: 5px;
    color: white;
    line-height: 1;
}
.cafe--title h2{
    background: url(../img/bg/logoBarra.png) no-repeat left center;
    font-size: 1.5rem;
}

.cafe__card{
    border-radius: 5px;
    color: white;
    background: var(--bgGreenDark);
}
.cafe__card--milho{
    border-radius: 5px 5px 0 0;
    color: white;
    background: var(--blueLight);
}
.cafe__card--milho--desc{
    background: var(--darkBlue);
    font-size: .7rem;
    font-weight: 500;
    padding: .25rem 0;
}
.card__milho--price{
    background: linear-gradient(var(--darkBlue), #053c86);
    color: #93de8d;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    border-radius: 5px;
    margin: .5rem 1rem .25rem;
}
.card__milho--price h2{
    font-size: 3.5rem;
    width: 100%;
}
.card__milho--price span{
    padding: .5rem;
    border-radius: 5px 0 0 5px;
    font-size: .9rem;
    background: #93de8d;
    color: white;
}
.card__body--milho{
    background: var(--blueLight);
    border-radius: 0 0 5px 5px;
    color: white;
}
.card__milho--car{
    font-size: .75rem;
    font-weight: 500;
    line-height: 1;
}
.cafe__card--header{
    background: var(--blue);
    border-radius: 5px;
}
.cafe__card--header--content{
    padding: 3rem;
}
.cafe__card--title{
    font-size: 2.1rem;
    font-weight: 500;
    line-height: .65;
    margin: 0;
}
.cafe__card--desc{
    color: var(--darkBlue)
}
.cafe--data--content, .cafe--data--content--item{
    font-size: .7rem;
    font-weight: 500;
    justify-content: space-between;
}
.cafe--data--content--item{
    font-weight: 400;
    background: #d3d3d3
}
.cafe--data--title, .cafe--data--item{
    padding: .25rem 0;
    border: 0;
    background: transparent;
    width: 20%;
}
/* Noticas */

.noticas{
}
.noticas--heading{
    color: var(--blue);
    font-size: 2.1rem;
    font-weight: 500;
    letter-spacing: -0.05rem;
    line-height: 1;
}
.noticas--heading--desc{
    font-size: 1.25rem;
    letter-spacing: -0.05rem;
}
.noticas--title{
    font-size: 1.05rem;
    font-style: oblique;
}
.noticas--title a{
    color: var(--green);
    letter-spacing: -0.05rem;
}
.noticas--description{
    font-size: .9rem;
}
/* This is a Call to Action section */
.coticao{
    min-height: 300px;
}
.coticao__text{
    background: url(../img/bg/bg-conosca.png) no-repeat left top / contain;
}
.coticao--title{
    font-size: 3rem;
}
.coticao--desc{
    background: linear-gradient(to right, var(--blue) 0%, var(--green) 100%);
    -webkit-background-clip: text;
      color: transparent;
      font-size: 1.98rem;
      letter-spacing: -0.1rem;
}

/* Footer  */
.footer {
    background: linear-gradient(var(--bgFooter), var(--bgLight));
    font-weight: 600;
}
.footer::before{
    background-color: var(--bgMain);
    background-image: url(../img/bg/corns.png);
    background-repeat: repeat-x;
    background-size: contain;
    content: '';
    display: block;
    height: 67px;
    width: 100%;
}
.footer--machine{
    height: 0;
}
.footer--machine::before{
    background-image: url(../img/bg/machine.png);
    background-position: right;
    background-repeat: no-repeat;
    content: '';
    display: block;
    height: 67px;
    position: relative;
    top: -67px;
    width: 100%;
}
.footer__logo{
    width: 180px;
}
.footer--menu{
    padding: 0;
}
.footer--menu li{
    list-style-image: url(../img/icons/bullet.gif);
}
.footer__credit{
    font-size: .66rem;
}